name: .NET Build and Test

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0'

      - name: Restore dependencies
        run: dotnet restore

      - name: Build the project
        run: dotnet build --configuration Release

      - name: Run unit tests for Exodius UnitTests
        run: dotnet test ${{ github.workspace }}/AD.Exodius.Tests/AD.Exodius.Tests.csproj --configuration Release --no-build --verbosity normal
